footer{
    background-color: $primary-color;

    h3{
        text-align: center;
    }

    i{
        font-size: 1.6rem;
        color: $font-color;
    }

    .social-contacts{
        display: flex;
        justify-content: center;
        
    }

    li{
        width: 50px;
        height: 50px;
        margin: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dce2ed;
        transition: background-color 0.4s;
        
    }

    li:hover,
    li:focus{
        background-color: $primary-accent;
        transition: background-color 0.7s;
        i{
            color: $light;
            transition: color 0.3s;
        }
    }
}

.social{
    // background-color: rgb(246, 248, 252);
    padding: 50px;
    order: -1;
    flex: 1 2 50%;
    p{
        text-align: center;
    }
}

form{
    margin-top: 80px;
    flex: 1 1 50%;
}

.contact-detail{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;

    div{
        display: grid;
        flex-direction: column;
        flex: 1;
    }

    div:first-child{
        margin-left: 0;
    }
}

label{
    display: block;
    margin: 28px 0 10px 0;
    text-transform: uppercase;
}


.btn-container{
    margin-top: 40px;
}

.message{
    display: block;
}

input{
    flex-basis: 100%;
}

textarea{
    resize: none;
    width: 100%;
    height: 180px;
}

input, textarea{
    box-shadow: 0 2px 5px $dark;
    border-radius: 3px;
    padding: 20px;
    border: none;
}

input:focus, 
textarea:focus{
    box-shadow: 0 2px 5px $primary-accent;
}

button{
    @include btn($light, $primary-accent, $primary-accent);
    text-transform: uppercase;
    transition: color 0.2s ease-in 0.1s, background-color 0.3s;
}

button:hover,
button:focus{
    color: $primary-accent;
    background-color: $light;
    transition: color 0.2s ease-in 0.1s, background-color 0.3s;
}

.credit{
    padding: 3px;
    background-color: $dark;
    color: $primary-color;

    p{
        text-align: center;
    }

    a{
        color: inherit;
        transition: color 0.3s;
    }

    a:hover{
        color: $light;
        transition: color 0.3s;
    }
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: $tablet){
    .contact{
        padding-bottom: 0;
    }

    .contact-container{
        flex-direction: column;
    }

    .social{
        order: 0;
        margin: 0;
        padding: 0 0 40px 0;
    }

    form{
        margin-top: 50px;
    }
}