body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: $dark;
    background-color: $light;
}

// preload from (Red Stapler) https://redstapler.co/add-loading-animation-to-website/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: $light;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  border: 4px solid $dark;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $dark;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
// Preload ends

.wrapper{
    @include wrapper(90%)
}

.logo{
    color: $primary-accent;
    font-size: 4rem;
    font-family: 'Black Ops One', cursive;
    position: relative;
    z-index: 999;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main > section,
.contact{
    padding: 120px 0;
}

main{
    a{
        transition: color 0.3s, background-color 0.3s ease-out;
    }
    .filled-link:hover,
    .filled-link:focus{
        @include btn($light, $primary-accent, $primary-accent);
        transition: color 0.3s, background-color 0.3s;
    }
    
}
