header{
    height: 100vh;
    background: url(../assets/quayne-inner-shadow.png), linear-gradient(142deg, rgba(79,79,79,1) 2%, rgba(255,255,255,1) 100%); 
    background-size: contain;
    background-repeat: no-repeat;
    
    nav{
        background-color: $light;
        box-shadow: 0 0 10px $dark;
        width: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 10000;
    }

    .logo-container{
        background-color: $primary-accent;
        padding: 10px 20px;
        .logo{
            color: $light;
        }
    }

    .nav-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul{
        padding-right: 20px;
    }

    li{
        display: inline-block;
        padding: 0 20px;
        list-style: none;
        font-size: 1.4rem;
        font-weight: 600;
    }

    h1{
        color: $h1-color;
        font-size: 5rem;
    }

    .banner{
        display: inline-block;
        padding: 30px;
        position: absolute;
        right: 20px;
    }
}

@media(max-width: 880px){
    header{
        background-size: cover;
        background-position-x: left;
        background: url('../assets/quayne-inner-shadow-sm-portrait.png'), linear-gradient(142deg, rgba(79,79,79,1) 2%, rgba(255,255,255,1) 100%);
        background-repeat: no-repeat;
    }
}