header{
    height: 90vh;
    background: url(../assets/quayne-inner-shadow.png), linear-gradient(top left, #fafafa 2%, rgb(235, 235, 235) 100%); 
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: bottom left;
    
    nav{
        background-color: $light;
        box-shadow: 0 0 10px $dark;
        width: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 10000;

         a::before{
            content: '';
            position: absolute;
            top: 55px;
            z-index: 9999999;
            border-bottom: 0.2rem solid $primary-accent;
            width: 0;
            transition: width 0.3s;
        }

        a:hover::before{
            width: 30px;
            transition: width 0.3s;
        }
    }

    .menu-btn{
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    .menu-btn-burger{
        width: 40px;
        height: 2px;
        background-color: $light;
        border-radius: 5px;
        box-shadow: 0 2px #999999;
        transition: all 0.5s ease-in-out;
    }

    
    .menu-btn-burger::before,
    .menu-btn-burger::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        border-radius: 5px;
        box-shadow: 0 2px #999999;
        transition: all 0.5s ease-in-out;
    }
    
    .menu-btn-burger::before{
        transform: translateY(16px);
    }
    
    .menu-btn-burger::after{
        transform: translateY(-16px);
    }

    .menu-btn:hover 
    .menu-btn-burger::before,
    .menu-btn:hover  
    .menu-btn-burger::after,
    .menu-btn:hover  
    .menu-btn-burger{
        background-color: $secondary-accent;
    }
    
    // menu animation
    .menu-btn.open .menu-btn-burger{
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }
    
    .menu-btn.open .menu-btn-burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    
    .menu-btn.open .menu-btn-burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
    
    .logo-container{
        padding: 15px 10px;
    }

    
    .contact-link-container{
        padding: 28px;
        background-color: $primary-accent;
        color: $light;
        i{
            font-size: 2.1rem;
        }
        a{
            color: $light;
        }
    }

    .nav-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul{
        padding-right: 20px;
    }

    li{
        display: inline-block;
        padding: 0 20px;
        list-style: none;
        font-size: 1.4rem;
        font-weight: 600;
    }

    h1{
        color: $h1-color;
        font-size: 5rem;
    }

    h3{
        font-size: 3.5rem;
        text-shadow: 2px 2px $light;
    }

    h1,h3{
        position: relative;
        z-index: 100;
        top: 50px;
    }
}

.banner-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    position: relative;
}

.banner{
    padding: 30px;
}

.triangle{
    clip-path: polygon(53% 50%, 0 0, 0 100%);
    width: 380px;
    height: 400px;
    background-color: $primary-accent;
    position: absolute;
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.tri-2{
    background-color: $secondary-accent;
    right: 60px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}


@media(max-width: $tablet){
    header{
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;

        nav{
            padding-right: 10px;
            padding-left: 10px;
        }

        .menu-btn{
            display: flex;
            margin: 10px
        }

        .nav-content{
            @include wrapper(100%);
            position: relative;
        }

        .contact-link-container{
            display: none;
        }

        ul{
            position: absolute;
            top: -300px;
            display: flex;
            flex-direction: column;
            background-color: $light;
            width: 100%;
            padding-top: 50px;
            transition: top 0.5s ease-in-out;
        }

        .show-dropdown{
            top: 60px;
            transition: top 0.5s ease-in-out;
        }

        .show-list-items{
            opacity: 1;
            transition: opacity 0.5s ease-in-out 0.4s;
        }

        li{
            opacity: 0;
            flex-basis: 40px;
            position: relative;
            transition: opacity 0.3s ease-in;
        }

        nav a::before{
            top: 20px;
        }

        .banner {
            position: absolute;
            top: 60px;
            left: 0;
            transition: all 0.5s ease-in-out;
        }

        h1, h3{
            top: 0;
        }

        .tri-2{
            right: initial;
            left: -3px;
            transition: all 0.5s ease-in-out;
        }
        
    }
}


@media (max-width: $mobile-landscape){
    header{
        .triangle{
            width: 250px;
            height: 280px;
        }
    }
}