.list-of-portfolio > li{
    display: flex;
    flex-wrap: nowrap;
    margin: 80px 0;
    figure{
        flex: 1 2 50%;
        max-width: 40%;
    }

    img{
        width: 100%;
    }

    p:last-of-type{
        margin-bottom: 40px;
    }
}

.list-of-portfolio > li:nth-of-type(even){
    figure{
        order: 2;
    }
    article{
        text-align: right;
    }

    .tech-container{
        justify-content: flex-end;
    }

    .tech-used li:last-of-type{
        padding-right: 0;
    }
}

.list-of-portfolio article{
    flex: 1 1 60%
}

.tech-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tech-used{
    display: flex;
}

.tech-used li{
    padding-right: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}