.portfolio-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;

    article{
        position: relative;
        flex: 1;
        min-width: 320px;
        border: 1px solid lightgray;
        padding: 30px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
    }

    li{
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 0 5px;
        margin: 5px 5px 0 0;
        font-size: 1.4rem;
    }

    article:hover a,
    article:focus a{
        opacity: 1;
        transition: opacity 0.3s ease-in 0.1s, color 0.3s ease-in, background-color 0.3s ease-in;
    }
}

.link-container{
    background-color: rgba(16, 179, 255,0.9);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: opacity 0.3s;
    a{
        margin: 5px;
        opacity: 0;
        transition: opacity 0.8s;
    }
}

.project-links{
    // transform: translateY(9999999px);
}


.toggle-btn{
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
