.skills{
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

.skills,
.skills ul{
    background-color: $primary-accent;
}

.list-of-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p{
        color: $dark;
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    
    i{
        font-size: calc((1vw * 2) + 3rem);
    }

    li{
        width: calc(100% / 3);
        padding: 10px;
        text-align: center;
    }

    li:hover p{
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

}

