html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h2{
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}

.heading-container{
    position: relative;
}

h2::before{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    width: 100px;
    height: 4px;
    background-color: $primary-accent;
    transform: translateX(-50%);
}

// h2::before{
//     content: "";
//     position: absolute;
//     bottom: -175px;
//     right: 50%;
//     width: 100px;
//     height: 4px;
//     background: $primary-accent;
//     z-index: 100;
//     transform: translateX(50%);
// }

h4{
    margin: 0;
    padding-right: 5px;
}

p{
    line-height: 2;
    color: $font-color;
    font-weight: 400;
}

a{
    color: $dark;
    text-decoration: none;
}

