// colors
    $dark: #32333c;
    $light: #ffffff;
    $primary-color: #FBFBFB;
    $secondary-accent: #FAD759;
    $primary-accent: #10b3ff;
    $h1-color: #022144;
    $font-color: #707b90;
    
// viewport
    $tablet : 990px;
    $tablet-sm: 768px;
    $mobile-landscape: 640px;

// wrapper
    @mixin wrapper ($wrapper-percent){
        width:$wrapper-percent;
        max-width: 1300px;
        margin: 0 auto;
    }

// anchor / buttons
    @mixin btn($color, $bg-color, $border){
        padding: 15px 30px;
        background-color: $bg-color;
        border: 1px solid $border;
        color: $color;
        border-radius: 3px;
    }

