@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap&family=Black+Ops+One:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.heading-container {
  position: relative;
}

h2::before {
  position: absolute;
  content: "";
  left: calc(50% - 50px);
  top: 6rem;
  border-bottom: 4px solid #10b3ff;
  width: 100px;
}

h4 {
  margin: 0;
  padding-right: 5px;
}

p {
  line-height: 2;
  color: #707b90;
  font-weight: 400;
}

a {
  color: #32333c;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover,
a:focus {
  color: #10b3ff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: #32333c;
  background-color: #ffffff;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  border: 4px solid #32333c;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #32333c;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  color: #10b3ff;
  font-size: 4rem;
  font-family: 'Black Ops One', cursive;
  position: relative;
  z-index: 999;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main > section,
.contact {
  padding: 120px 0;
}

main a {
  -webkit-transition: color 0.3s, background-color 0.3s ease-out;
  transition: color 0.3s, background-color 0.3s ease-out;
}

main .filled-link:hover,
main .filled-link:focus {
  padding: 15px 30px;
  background-color: #10b3ff;
  border: 1px solid #10b3ff;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

header {
  height: 90vh;
  background: url(../assets/quayne-inner-shadow.png), -webkit-gradient(linear, left top, right bottom, color-stop(2%, #fafafa), to(#ebebeb));
  background: url(../assets/quayne-inner-shadow.png), linear-gradient(top left, #fafafa 2%, #ebebeb 100%);
  background-size: contain;
  background-repeat: no-repeat;
}

header nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #32333c;
          box-shadow: 0 0 10px #32333c;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

header nav a::before {
  content: '';
  position: absolute;
  top: 55px;
  z-index: 9999999;
  border-bottom: 0.2rem solid #10b3ff;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header nav a:hover::before {
  width: 30px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header .menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger {
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px #999999;
          box-shadow: 0 2px #999999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before,
header .menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px #999999;
          box-shadow: 0 2px #999999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .menu-btn-burger::after {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-btn:hover
.menu-btn-burger::before,
header .menu-btn:hover
.menu-btn-burger::after,
header .menu-btn:hover
.menu-btn-burger {
  background-color: #FAD759;
}

header .menu-btn.open .menu-btn-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

header .logo-container {
  padding: 15px 10px;
}

header .contact-link-container {
  padding: 28px;
  background-color: #10b3ff;
  color: #ffffff;
}

header .contact-link-container i {
  font-size: 2.1rem;
}

header .contact-link-container a {
  color: #ffffff;
}

header .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  padding-right: 20px;
}

header li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}

header h1 {
  color: #022144;
  font-size: 5rem;
}

header h3 {
  font-size: 3.5rem;
  text-shadow: 2px 2px #ffffff;
}

header h1, header h3 {
  position: relative;
  z-index: 100;
  top: 50px;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  position: relative;
}

.banner {
  padding: 30px;
}

.triangle {
  -webkit-clip-path: polygon(53% 50%, 0 0, 0 100%);
          clip-path: polygon(53% 50%, 0 0, 0 100%);
  width: 380px;
  height: 400px;
  background-color: #10b3ff;
  position: absolute;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tri-2 {
  background-color: #FAD759;
  right: 60px;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 990px) {
  header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  header nav {
    padding-right: 10px;
    padding-left: 10px;
  }
  header .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
  }
  header .nav-content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
  }
  header .contact-link-container {
    display: none;
  }
  header ul {
    position: absolute;
    top: -300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding-top: 50px;
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
  }
  header .show-dropdown {
    top: 60px;
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
  }
  header .show-list-items {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out 0.4s;
    transition: opacity 0.5s ease-in-out 0.4s;
  }
  header li {
    opacity: 0;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
    position: relative;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
  }
  header nav a::before {
    top: 20px;
  }
  header .banner {
    position: absolute;
    top: 60px;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header h1, header h3 {
    top: 0;
  }
  header .tri-2 {
    right: initial;
    left: -3px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 640px) {
  header .triangle {
    width: 250px;
    height: 280px;
    easing: ease-in-out;
  }
}

.about {
  background-color: #ffffff;
}

.filled-link {
  margin-top: 40px;
  padding: 15px 30px;
  background-color: #ffffff;
  border: 1px solid #10b3ff;
  color: #10b3ff;
  border-radius: 3px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-content article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-content article:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content article:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 470px;
  height: 290px;
}

.about-content article:first-child i {
  position: absolute;
  color: #fdefbc;
  top: 3rem;
  font-size: 24rem;
}

.about-content h2 {
  position: relative;
  z-index: 9999;
}

.about-content h2::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5.5rem;
  border-bottom: 4px solid #10b3ff;
  width: 100px;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.about-content p:last-of-type {
  margin-bottom: 40px;
}

@media (max-width: 990px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content h2::before {
    left: calc(50% - 50px);
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
}

.skills {
  -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
          clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

.skills,
.skills ul {
  background-color: #10b3ff;
}

.list-of-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-of-skills p {
  color: #32333c;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.list-of-skills i {
  font-size: calc((1vw * 2) + 3rem);
}

.list-of-skills li {
  width: calc(100% / 3);
  padding: 10px;
  text-align: center;
}

.list-of-skills li:hover p {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.portfolio-container {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.portfolio-container article {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  border: 1px solid lightgray;
  padding: 30px;
}

.portfolio-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-container li {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 0 5px;
  margin: 5px 5px 0 0;
  font-size: 1.4rem;
}

.portfolio-container article:hover a,
.portfolio-container article:focus a {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.1s, color 0.3s ease-in, background-color 0.3s ease-in;
  transition: opacity 0.3s ease-in 0.1s, color 0.3s ease-in, background-color 0.3s ease-in;
}

.link-container {
  background-color: rgba(16, 179, 255, 0.9);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.link-container a {
  margin: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.toggle-btn {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

footer {
  background-color: #FBFBFB;
}

footer h3 {
  text-align: center;
}

footer i {
  font-size: 1.6rem;
  color: #707b90;
}

footer .social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer li {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dce2ed;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

footer li:hover,
footer li:focus {
  background-color: #10b3ff;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}

footer li:hover i,
footer li:focus i {
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.social {
  padding: 50px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 50%;
          flex: 1 2 50%;
}

.social p {
  text-align: center;
}

form {
  margin-top: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.contact-detail div {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-detail div:first-child {
  margin-left: 0;
}

label {
  display: block;
  margin: 28px 0 10px 0;
  text-transform: uppercase;
}

.btn-container {
  margin-top: 40px;
}

.message {
  display: block;
}

input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

textarea {
  resize: none;
  width: 100%;
  height: 180px;
}

input, textarea {
  -webkit-box-shadow: 0 2px 5px #32333c;
          box-shadow: 0 2px 5px #32333c;
  border-radius: 3px;
  padding: 20px;
  border: none;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 2px 5px #10b3ff;
          box-shadow: 0 2px 5px #10b3ff;
}

button {
  padding: 15px 30px;
  background-color: #10b3ff;
  border: 1px solid #10b3ff;
  color: #ffffff;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in 0.1s, background-color 0.3s;
  transition: color 0.2s ease-in 0.1s, background-color 0.3s;
}

button:hover,
button:focus {
  color: #10b3ff;
  background-color: #ffffff;
  -webkit-transition: color 0.2s ease-in 0.1s, background-color 0.3s;
  transition: color 0.2s ease-in 0.1s, background-color 0.3s;
}

.credit {
  padding: 3px;
  background-color: #32333c;
  color: #FBFBFB;
}

.credit p {
  text-align: center;
}

.credit a {
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.credit a:hover {
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 990px) {
  .contact {
    padding-bottom: 0;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0;
    padding: 0 0 40px 0;
  }
  form {
    margin-top: 50px;
  }
}
